.accPho{
    float:left !important;
    
    
}
.accordion-body{
    height: auto !important;
}
.accordion-button{
    font-size: large !important;
}
#collapseOne{
    
    height:auto;
    overflow:hidden;

}

#collapseTwo{
    
    height:auto;
    overflow:hidden;
    
}


.urunyazi{
    font-size: medium !important;
    text-align: justify !important;
}
.urunbaslik{
    font-size: medium !important;
    font-weight: bold !important;
    text-align: left !important;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
    .urunyazi{
        font-size: small !important;
    }
    .urunbaslik{
        font-size: medium !important;
    }
    .accPho{
        width: 100% !important;
    }

}